body{
	background-color: #bdc3c7;
}

h1{
	text-align: center;
	margin-top: 1%;
}

img{
	width: 50px;

}
button{
	width: 80px;
}

.fleches {
	margin-top: 5%;
}

table {
	margin-top: 5%;
	border: medium solid black;
	width:30%;
}
td, th {
	border: thin solid black;
	width: 50%;
	text-align: center;
}
input{
	text-align: center;
	margin-top: 10px;
}